@model int

<div class="container row">
	<div class="col-12 text-center">
		<h1 class="text-primary text-center">Order Placed Successfully!</h1>
		Your OrderN Number is : @Model <br /><br />
		<img src="~/images/products/a98d9c50-88c5-4d56-adaf-f77298c51d23.jpg" width="65%" />
	</div>
	<div class="col-12 text-center" style="color:maroon">
		<br />
		Your order has been placed successfully!<br />
	</div>
</div>